backports.ssl-match-hostname==3.4.0.2
blinker==1.4
certifi==2015.4.28
docutils==0.12
ecdsa==0.13
Fabric==1.10.2
feedgenerator==1.7
functools32==3.2.3.post2
ghp-import==0.4.1
gnureadline==6.3.3
ipython==3.2.1
Jinja2==2.8
jsonschema==2.5.1
livereload==2.4.0
Markdown==2.6.2
MarkupSafe==0.23
mistune==0.7
paramiko==1.15.2
pelican==3.6.0
pycrypto==2.6.1
Pygments==2.0.2
python-dateutil==2.4.2
pytz==2015.4
six==1.9.0
tornado==4.2.1
Unidecode==0.4.18
